.DS_Store
.vscode-test/
coverage/
dist/
lib/
out/
node_modules/
*.vsix
*.tsbuildinfo
examples/*/example/generated
examples/hello-world
benchmark/compiled_programs/
fuzzer/generated_programs/
fuzzer/compiled_programs/
fuzzer/run_results/
NeoML/tmp.py
NeoML/tmp.r